<div class="center hero-unit">
	<H1>Welcome to the Sample App</H1>

	<H2>
		This is the Sample Page for the <A HREF="http://www.railstutorial.com">Ruby on Rails Sample Application</A>
	</H2>

	<%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
